body {
  background-color: rgba(217, 240, 240, 0.56);
  padding-right: 18%;
  padding-top: 8%;
}

h1 {
  color: rgb(4, 145, 34);
}

h2 {
  font-style: italic;
  font-family: monospace;
  color: rgb(124, 3, 3);
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(65, 15, 203);
  padding: 10px;
}